body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
	background: grey;
	color: white;
	padding: 10px;
}

footer {
	background: lightgrey;
}

div.taglist li{
	background: cornflowerblue;
	padding: 2px;
	color: white;
	border: 10px;
	margin: 10px;
	border-radius: 5px;
}
