
* {
    box-sizing: border-box;
}

html{
	background-color: black;
}

body {
  margin: 50px;
  font: 14px "Lucida grande", Helvetica, Arial, sans-serif;
  
}

main {
		width: 100%;
		border: 2px solid #00b7ff;
    	display: table; 	
		background-color: #fffafa;
}

a {
  color: white;
}

header {
	background-color: gray;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 2px solid #00b7ff;
    border-bottom: 0px;
}

footer {
	background-color: gray;
	clear: both;
	padding: 2px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 2px solid #00b7ff;
    border-top: 0px;
	
}

.tagging {
	width: 25%;
	float: left;
}

.discovery {
	width: 75%;
	float: left;

}



#result-img {
	width: 50%;
	margin-top: 10px;
	margin-right: 10px;
	border: 2px solid #00b7ff;
	border-radius: 5px;
}
#result-img:hover {
    border-color: green;
}

.taglist li {
  background-color: #00B7FF;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.taglist li:hover {
	/*border: 1px solid white;*/
    background-color: green;
}

.taglist ul {
	list-style-type: none;
	list-style-position: inside;
	margin-left: -40px;
	
}

.taglist {
	float: left;
	width: 25%;
    color: white;
}

.tagmap {
	float: left;
	width: 75%;
}

#tag-form fieldset label *{
	margin: 5px;
	margin-left: 0px;
	display: block;
}
#filter-form fieldset label input {
	margin: 2px;
}


